<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t|%level] [%logger{1}]: %msg%n"/>
            <!-- {FATAL=FTL, ERROR=ERR, WARN=WRN, INFO=INF, DEBUG=DBG, TRACE=TRC} -->
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ZServers.ZLib" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ZServers.ZSLib" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ZServers.ZSend" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ZServers.ZReceive" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>